@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.container2 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "pr4 pr4 pr1 pr1 pr1 pr1"
    "pr4 pr4 pr1 pr1 pr1 pr1"
    "pr4 pr4 logoimage logoimage pr2 pr2"
    "pr4 pr4 logoimage logoimage pr2 pr2"
    "pr3 pr3 pr3 pr3 pr2 pr2"
    "pr3 pr3 pr3 pr3 pr2 pr2"
    ". . . . . .";
  background-color: black;
  padding: 70px;
  gap: 2rem;
  
}

.logoimage {
   grid-area: logoimage;
  text-align: -webkit-center;
 }

.pr2 { grid-area: pr2; 
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  text-align: center;
border-radius: 15px;
text-align: -webkit-center;
vertical-align: -webkit-baseline-middle;}

.pr1 { grid-area: pr1; 
  display: flex;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  vertical-align: -webkit-baseline-middle;
}

.pr3 { grid-area: pr3;
  display: flex;
  background-color: white;
  border-radius: 15px; 
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}

.pr4 { grid-area: pr4;
  display: grid;
  grid-template-rows: 1fr 1fr; 
  background-color: white;
  text-align: center;
  border-radius: 15px;
  text-align: -webkit-center;
  vertical-align: -webkit-baseline-middle;}


.prjctTxt{
  color: rgb(0, 0, 0);
}


.prjctImg{
  margin: 5px;
  border-radius: 15px;
}

.logoimageprjct{
  width: 260px;
  height: auto;
}

span{
  font-size:small;
  font-family: 'Bruno Ace SC', cursive;
  background-color: black;
  color: white;
  border-radius: 3px;
}

.prjctTxt{
  font-family: 'Bruno Ace SC', cursive;
  
}